@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

/*-------------------------------------Fundamentais-----------------------------------------*/

*/*retirando margens, preenchimentos de tudo*/{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body/*todo o conteúdo do site*/{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center; 
    background-color: rgb(14, 14, 14);
   
    
}

#corpo/*conteúdo do site, (que fica no meio)*/{
    border-radius:  3em 3em 0em 0em;
   position: relative;
   width: 100%;
   max-width: 1000px;
  
   
}

a/*todos os links*/{
    text-decoration: none;
    padding: 0.4em;
    color:rgb(0, 0, 0);
}
a:hover/*animação dos links*/{
    transition: 200ms;
}

li/*todos os itens das listas*/{
    list-style-type: none;
}

footer/*rodapé*/{
    
    background-image: linear-gradient(to top,rgb(34, 34, 34), white);
    width: 100%;
    box-shadow: 0px 0px 15px 01.5px rgba(0, 0, 0, 0.336);
    border-radius:  2em 2em 0em 0em;
    height: 100px;
    position: absolute;
    
}   

/*--------------------------------------CABEÇALHO-------------------------------------------*/

.containerdocabeçalho1/*conteiner que hospeda o container que hospeda os itens do cabeçalho*/{   
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 1em;
    background-color: transparent;
}

.containerdocabeçalho2/*container que hospeda os itens do cabeçalho*/ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,rgb(34, 34, 34), rgb(223, 223, 223));
    border-radius:  0em 0em 2em 2em;
}

.logo/*logo FERA NA WEB, item 1 do cabeçalho*/{
    display: inline;
    border-radius: 30px;
    font-size: 1.5em;
  align-items: center;
   margin: 10px;
   font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
   display: flex;
   color: rgb(8, 8, 8);
}

.logo .imagemdalogo /*Imagem da logo (planeta)*/{
    margin: 10px;
    position: relative;
    right: 0px;
    filter: grayscale(100%) contrast(130%);
    height: 40px;
}

.logo::after/*texto escrito na logo logo após a imagem*/{
    content: 'theManual';
}
.logo:hover{
    text-decoration: underline;
    color: rgb(10, 10, 10);
}

#menu-mobile/*menu hamburguer, item 2 do cabeçalho*/{
    align-self: center;
    cursor: pointer;
    justify-self: right;
    border-radius: 10px;
    margin: 2em;
   
    display: flex;
    align-items: center;
    padding: 0em;
    user-select: none;
}

#menu-mobile section div /*os três traços do menu hamburguer*/{
    width: 1.5em;
    height: 4px;
    background-color: rgb(19, 19, 19);
    margin: 3px;
    border-radius:100px;
    box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.466);
    transition: 400ms;
}

#menu-mobile:hover section div/*animação do menu hamburguer*/{
    box-shadow:  0px 0px 3px 0px rgb(0, 0, 0);
    transition: 400ms;
}

/*------------------------------ARTIGOS PRINCIPAIS-----------------------------------*/

#artigos-p/*container que hospeda os articles PRINCIPAIS*/{
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:  375px;
    
    margin: auto;
}

#artigos-p article/*Artigos principais*/{
    margin: 0.4em;
    border-radius: 05px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
   background-image: url(https://br.atsit.in/wp-content/uploads/2021/08/o-whatsapp-pode-em-breve-permitir-que-voce-visualize-atualizacoes-de-status-na-foto-do-perfil-de-toque.jpg);
    align-items: flex-end;
    filter:  grayscale(30%) saturate(40%) contrast(180%);
}

#artigos-p article h1/*títulos dos artigos principais*/{
    padding: 1em;
    text-shadow: 0px 0px 10px black;
    color: rgb(255, 255, 255);
    height: 50%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, black);
}

#artigos-p .artigo-p:hover h1/*animação dos títulos principais*/{
    text-decoration: underline;
}

/*----------------------------------TUTORIAIS----------------------------------------*/
#artigos-c/*Container que hospeda os artigos comuns e recomendados*/{
    max-width: 720px;
    background-color: none;
    justify-items: center;
    flex-direction: column;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    display: grid;
    min-height: 200px;
    margin: auto;
    gap: 15px;
  }

#artigos-c a/*os artigos comuns ou tutoriais*/{
    background-image: linear-gradient( rgb(255, 255, 255),rgb(191 191 191) 50%);
    padding: 1em;
    border-radius: 1em;
    max-width: 320px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 12px 2px black;
}

div.conteudo{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

/*-------------------------------------Títulos no meio da página----------------------------*/


div.artigosrelacionados{
    width: 100%;
    margin: 20px auto;
}
.artigosrelacionados{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2em;
    color: rgb(204, 204, 204);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style-type: disc;

}

.artigosrelacionados button{
    padding: 5px;
    border-radius: 5px;
    color: rgb(12, 12, 12);
    font-size: 16px;
    background-color: rgb(233, 233, 233);
    font-family: unset;
    letter-spacing: 2px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.692);
    
}
.artigosrelacionados button:hover{
    background-color: rgb(197, 197, 197);
}

ul.artigosrelacionados{
    max-width: 600px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    justify-content: center;
    gap: 05px;

}

.bloco{
    background-image: radial-gradient(rgba(177, 177, 177, 0.493), transparent 50%);
    margin-bottom: 20px;
}

.bloco p.vermais{
   display: flex;
   justify-content: end;
   
}

.bloco p.vermais a{
    color: #dddddd;
    margin: auto;
}

@media /**/(max-width:900px){
    #artigos-c{
        grid-template-columns: 1fr;
        
       }
}

@media /*responsividade*/(max-width:650px){
    .containerdocabeçalho2{
        height: 77px;

    }
    #menu-mobile section div /*os três traços do menu hamburguer*/{
        height: 2px;
        width: 20px;
        margin: 5px;

}

    .logo/*logo FERA NA WEB, item 1 do cabeçalho*/{
        display: inline;
        border-radius: 30px;
        font-size: 20px;
      align-items: center;
       margin: 10px;
       font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
       display: flex;
       color: rgb(8, 8, 8);
    }

    #artigos-c a{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        justify-content: end;
    }

    #artigos-c a{
        padding: 10px;
    }
    #artigos-c a h1{
        font-size: 18px;
    }
   
    .bloco{
        background-image: radial-gradient(#dddddd , #00000000 70%);
    }


    /*artigos principais agora ficam escondidos*/
    #artigos-p {
        grid-template-columns: 1fr;
        grid-auto-rows: 230px;
        width: auto;
    }
    .artigosrelacionados{
        font-size: 25px;
    }
    .artigosrelacionados button{
        width: 150px;

    }
    ul.artigosrelacionados{
        display: flex;
        flex-wrap: wrap;
    }

}
#artigos-c a .titulos h1{
    font-family: "Roboto Slab";
}
#artigos-c a .titulos h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}



/*---------------------------------------------LISTAS------------------------------------*/



.itensdomenu/*(links) da lista disposta no menu*/{
    margin: 0px;
    justify-content: left;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 20px;
    align-items: center;
    letter-spacing: 6px;
    text-align: left;
    width: 100%;
}
.itensdomenu:hover{
    letter-spacing: 4px;
}

.link/*links que levam a uma nova página*/{
    width: unset;
    font-size: 18px;
    list-style-type: circle;
    letter-spacing: 6px;
    margin: 0px;
    margin-left: 1em;
}
.link:hover{
    font-weight: normal;
    letter-spacing: 8px;
}

#lista0/*,Container de todas as listas*/{
    box-shadow: 0px 0px 9px 2px black;
    display: none;
    flex-direction: column;
    width: max-content;
    
    position: absolute;
    padding: 30px;
    border-radius: 20px;
   
   
    border-top: 40px solid rgba(0, 0, 0, 0.774) ;
    margin: 10px;
    
   transition: 500ms ease-in;
 z-index: 1;
    
    
  
    background-image: linear-gradient(to top,rgb(138, 138, 138),rgba(255, 255, 255, 0.993));


 
}
@media (max-width:700px){
    #lista0{
    max-width: 80%;
    min-width: 10px;
    padding: 20px;
    }
    .link{margin: 5px 0px;
    margin-left: 1em;
    }

    .itensdomenu/*(links) da lista disposta no menu*/{
        font-size: 15px;
        letter-spacing: 2px;
    }
    .itensdomenu:hover{
        letter-spacing: 2px;
    }


}



#item1,#item2,#item3{
    transition: 500ms ease-in-out;
   
    text-transform: uppercase;
}

#lista1,#lista11,#lista111{
    color: aliceblue;
    display: none;
    margin-left: 20px;
    transition: 400ms ease-in-out;
    flex-direction: column;
    border-left: 1px solid black;
  
}

#lista2-1,#lista2-2,#lista2-3{
    flex-direction: column;
    display: none;
    
 
}


.artigos span{
    letter-spacing: 4px;
    margin: 0px 5px;
    background-color: rgba(186, 186, 186, 0.309);
    padding: 0px 5px;
    color: rgb(21, 21, 21);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.125rem 0.25rem;
   letter-spacing: 1px;
    width: fit-content;
    border-radius: 10px;
    
}
/* 
.artigos span#maisopcoes{
    padding-right: 25px;
    background-image: url(https://scontent.whatsapp.net/v/t39.8562-34/118117430_995065920932265_1336446442210986426_n.jpg?stp=cp0_dst-webp_p50x50&ccb=1-5&_nc_sid=8a74b9&_nc_ohc=v3VJEIUTUsUAX8lCRQH&_nc_ht=scontent.whatsapp.net&oh=01_AVw29OAK5IxPcZxJF-hrfZFGPBJ2sZ7UN9jUxay3sbmvOg&oe=6227535F);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}*/

h1.titulo span/*icone ao lado do título*/{
    filter: grayscale(100%) drop-shadow(0px 0px 2px rgba(0, 0, 0, 1)) ;
    padding: 15px;
    display: inline-block; 
    border-bottom: black;
   background-color: inherit;
}


.artigos/*Todos os artigos completos,contando com o bloco "ajuda"*/{
    
    position: relative;
    border-radius: 20px;
    padding: 2em;
    max-width: 750px;
    box-sizing: border-box;
    margin: 0em auto 24px auto;
    
    background-image: linear-gradient(to bottom, rgb(255 255 255) ,rgb(226, 226, 226));
   color: #000000;
    line-height: 1.5em;
    
    
}
#indice{
    margin-bottom: 1em;
}

#indice ul{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    flex-wrap: wrap;
    
     
     
}


#indice ul{
    list-style-type: none;
    margin:auto;
    margin-bottom: 2em;
   


}
#indice li{
    margin: 0px;
    list-style-type: none;
}
#indice li::after{
    content: "-";
    margin: 10px;
    
}
#indice li:last-of-type::after{
    content: none;
}

.artigos h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: black;
    line-height: 1em;
    
}

#primeirospassos{
    line-height: 1em;
    font-size: 4em;
}

.artigos h2{
    margin: 1em 0px 1em 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      letter-spacing: 3px;
      font-size: 3em;
      color: rgb(0 0 0);
}
.artigos h2.primeirospassos{
    color: rgb(99, 99, 99);
}

.artigos h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    letter-spacing: 7px;
    font-size: 1em;
    color: #000000;
    margin: 20px 0px 0px 0px;
}
.artigos p{
    text-align: start;
    word-spacing: 0.1em;
   
    margin: 0em;
    letter-spacing: 2px;
   text-indent: 1em;
    font-size: 18px;
    margin:2em 0em 0em 2em;
    
}
.artigos a{
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
    color: rgb(0, 0, 0);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.artigos a:hover{
    text-decoration: underline;
   
}


h1.titulo{
    font-size: 3em;
    display: block;
}
ol div.fotos:nth-of-type(2)/*Fotos que ilustram o passo a passo*/{
    
    
   /* background-image: url(imagens/WhatsApp1.jpeg),url(imagens/WhatsApp2.1.jpeg);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 0px -9px,160px -9px;*/
    
    display: none;
  /*  grid-template-columns: repeat(auto-fill,minmax(170px,220px));
    gap: 5px;
    grid-auto-rows: minmax(300px,auto);*/
    flex-wrap: wrap;
    justify-content: center;
    
}
div.fotos .img{
    display: flex;
    align-items: flex-end;
    justify-content: end;
   min-width: 170px;
    background-image: url(imagens/maisopcoes.jpg);
    box-shadow: 0px 0px 3px 1px rgb(0 0 0);
    font-weight: 400;
    background-size: 100%;
    background-position: 0px -12px;
    background-repeat: no-repeat;
    min-height: 250px;
    margin: 10px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.fotos .img:nth-of-type(2){
    background-image: url(imagens/configuracoes.jpg);
}
div.fotos .img:nth-of-type(3){
    background-image: url(imagens/perfil.jpg);
}

div.botao{
    display: flex;
    justify-content: right;
}
div.botao span{
    transition: 200ms;
    
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    background-color: unset;
    color: rgb(76, 76, 76);
    font-weight: bold;
  padding: 1em;
    cursor: pointer;
  
}

@media (max-width:450px){
    h1.titulo span{
     padding: 0;
     display: block;
       top: 0;
       right: 0;
       margin: 13px auto;
     
        
    }
    h1.titulo{
        font-size: 2em;
        margin-top: 5px;
      
        
    }
    #fotos .img{
        background-position: 0px -20px;
        max-width: 300px;
        min-height: 410px;
        width: 100%;
    }

}

/*-------------------------------------SUMARIO(Para os artigos)----------------------------*/
div.sumario{
   
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    
}
div.sumario .paginadosumario{
    
  cursor: unset;
    max-width: 80px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0;
   
}
div.sumario li::after{
    content: ">>";
    margin: 10px;
    
}
div.sumario li:last-of-type::after{
    content: "";
}






.artigos ol{
    
    margin: 0em 0em 3em 4em;
}
.artigos ul{
    
    margin: 0em 0em 5em 4em;
}
.artigos ol li{
    font-size: 18px;
    list-style-type: decimal;
    margin: 1.5em 0em 0em 0em;
    
    font-family: "Roboto Slab" Arial, Helvetica, sans-serif;
}

.artigos ul li{
    font-size: 18px;
    list-style-type: disc;
    margin: 1em 0em 0em 0em;
    
    font-family: "Roboto Slab" Arial, Helvetica, sans-serif;
}

.artigos li{
    letter-spacing: 2px;
}


.artigos li img{
    height: 18px;
    filter: grayscale(90%) contrast(200%) drop-shadow(0px 0px 2px black);
    
}
.artigos p img{
    height: 18px;
    
}



h1:nth-of-type(1){
    justify-content: center;
}

ol.ajuda {
    margin-bottom: 0px;
}
ol.ajuda li{
    margin: 10px;
}

hr{
    margin-top: 0;
    margin-bottom: 1em;
    color: black;
}

.em {
    display: inline-block;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: #2a2a2a;
    text-align: end;
    font-style: normal;
   
}
.em::before{
    content: "*";
}

sup a{
    padding: 0;
}
.artigos:nth-of-type(2){
    padding: 10px;
    padding-left: 32px;
}
.artigos:nth-of-type(2) h2{
    margin: 24px 0px;
}
.artigos:nth-of-type(2) ol{
    margin: 0em 0em 24px 4em;
}


@media(max-width:758px){
    
    .artigos{
        margin-right:  5px;
        margin-left: 5px;
        padding: 8px;
    }
    #indice ul{
       
       
        justify-content: space-around;
        margin: 1em 0em 1em 0em;
    }

    #indice ul li::after{
        content: "";
        margin: 0;
        
    }
    .artigos h2{
        margin: 15px 0px 0px 0px;
        letter-spacing: 3px;
        font-size: 2.2em;
       
    }

    .artigos h4{
        letter-spacing: 3px;
        font-size: 1em;
        color: #161616;
        margin: 25px 0px 0px 0px;
    }
    .artigos p{
        font-size: 1em;
        
    }
    .artigos ul,.artigos ol{
        margin-left: 2em;
        margin-right: 0;
    }
   
    
  
    .link:hover{
       
        text-decoration: none;
   
   
    }
   
    .link:active{
        font-weight: bold;
        text-decoration: underline;
    }
    .sumario li{
        margin-bottom: 5px;
    }
}




/*lixeira*/


/*-----------------------------ARTIGOS RECOMENDADOS---------------------------------------*/

#recomendados a/*artigos comuns*/{
    justify-content: center;
    background-image: linear-gradient( rgb(255, 255, 255),rgb(160, 160, 160));
    background-position: right top;
    max-width: 500px;
    width: 100%;
    max-height: 120px;
    margin: 10px auto;
    display: flex;
    border-radius: 1em;
    align-items: center;
    transition: 150ms;
   
}
#recomendados a:hover/*animação dos artigos comuns*/{
    max-width: 520px;
    transition: 150ms;
}

#recomendados a article/*conteúdo dos artigos recomendados*/{
  padding: 1em;
}

#recomendados article:hover h1/*animação dos títulos dos artigos comuns*/{
  text-decoration: underline;
  transition: 300ms;
    
}
