

/*-------------------------------------Fundamentais-----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body/*todo o conteúdo do site*/{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center; 
    background-color: rgb(14, 14, 14);
    
    
}

#corpo/*conteúdo do site, (que fica no meio)*/{
    border-radius:  3em 3em 0em 0em;
   position: relative;
   width: 100%;
   max-width: 1000px;
   
}

a/*todos os links*/{
    text-decoration: none;
    padding: 0.4em;
    color:rgb(0, 0, 0);
}
a:hover{
    transition: 200ms;
}

li/*todos os itens das listas*/{
    list-style-type: none;
}

footer{
    background-image: linear-gradient(to top,rgb(34, 34, 34), white);
    width: 100%;
    box-shadow: 0px 0px 15px 01.5px rgba(0, 0, 0, 0.336);
    border-radius: 1em 1em 0em 0em;
    height: 100px;
    bottom: 0;
}   

/*--------------------------------------CABEÇALHO-------------------------------------------*/

.containerdocabeçalho1/*conteiner que hospeda o container que hospeda os itens do cabeçalho*/ {background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 1em;
    background-color: transparent;
}

.containerdocabeçalho2/*container que hospeda os itens do cabeçalho*/ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,rgb(34, 34, 34), rgb(223, 223, 223));
    border-radius:  0em 0em 2em 2em;
}

.logo/*logo FERA NA WEB, item 1 do cabeçalho*/{
    display: inline;
    border-radius: 30px;
    font-size: 1.5em;
  align-items: center;
   margin: 10px;
   font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
   display: flex;
   color: rgb(8, 8, 8);
}

.logo .imagemdalogo /*Imagem da logo (planeta)*/{
    margin: 10px;
    position: relative;
    right: 0px;
    filter: grayscale(100%) contrast(130%);
}

.logo::after/*texto escrito na logo logo após a imagem*/{
    content: 'inManual';
}
.logo:hover{
    text-decoration: underline;
    color: rgb(10, 10, 10);
}

#menu-mobile/*menu hamburguer, item 2 do cabeçalho*/{
    align-self: center;
    cursor: pointer;
    justify-self: right;
    border-radius: 10px;
    margin: 2em;
    height: 10px;
    display: flex;
    align-items: center;
    padding: 0em;
    user-select: none;
}

#menu-mobile section div /*os três traços do hamburguer*/{
    width: 1.5em;
    height: 4px;
    background-color: rgb(19, 19, 19);
    margin: 3px;
    border-radius:100px;
    box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.466);
    transition: 400ms;
}
#menu-mobile:hover section div{
    box-shadow:  0px 0px 3px 0px rgb(0, 0, 0);
    transition: 400ms;
}



/*------------------------------ARTIGOS PRINCIPAIS-----------------------------------*/

#artigos-p/*container que hospeda os articles PRINCIPAIS*/{
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:  375px;
    padding: 1.5em;
    margin: auto;
}

#artigos-p article/*Artigos principais*/{
    margin: 0.4em;
    border-radius: 05px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
   background-image: url(https://br.atsit.in/wp-content/uploads/2021/08/o-whatsapp-pode-em-breve-permitir-que-voce-visualize-atualizacoes-de-status-na-foto-do-perfil-de-toque.jpg);
    align-items: flex-end;
    filter:  grayscale(30%) saturate(40%) contrast(180%);
    
}



#artigos-p article h1/*títulos dos artigos principais*/{
    padding: 1em;
    text-shadow: 0px 0px 10px black;
    color: rgb(255, 255, 255);
    height: 50%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, black);
}

#artigos-p .artigo-p:hover h1{
    text-decoration: underline;
}



/*-----------------------------ARTIGOS COMUNS---------------------------------------*/

#artigos-c/*Container que hospeda os artigos comuns*/{
  width: 100%;
    background-color: none;
   
    justify-items: center;
    flex-direction: column;
   box-sizing: border-box;
   grid-template-columns: 1fr;
   grid-auto-rows: 250px;
    display: grid;
    padding: 10px;
}

#artigos-c article/*artigos comuns*/{
    justify-self: center;
    background-image: linear-gradient(150deg,rgb(226, 226, 226),rgb(136, 136, 136));
    max-width: 700px;
    margin: 10px auto;
    display: flex;
    border-radius: 1em;
    
}
#artigos-c article:hover .titulos h1/*animação dos artigos comuns*/{
  text-decoration: underline;
  transition: 300ms;
    
}
#artigos-c #imagem/*imagem dos artigos comuns*/{
    background-image: url(imagens/1fab805dc3dd2aab386b855e4ef9748c.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   height: 100%;
   width: 50%;
   border-radius: 0em 1em 1em 0em;
   transition: 200ms;
   filter:  grayscale(30%) saturate(60%) contrast(120%);
   

    
}

#artigos-c article .titulos/*títulos dos artigos comuns*/{
    padding: 20px;
    display: flex;
    align-content: center;
    width: 50%;
    height: 80%;
    flex-wrap: wrap;
}

@media (max-width:830px){
    
   
    #artigos-c article{
        
        
        flex-direction: column;
        width: 100%;
        min-height: 370px;
        
    }
    /*configuração das imagens dos arquivos comuns*/
    #artigos-c article .img{
        width: 100%;
        height: 75%;
    }
/*configuração dos títulos dos arquivos comuns*/
    #artigos-c article .titulos{
       padding: 10px;
        width:90%;
        height:25%;
        margin-bottom:1em;
        
    }
    /*artigos principais agora ficam escondidos*/
 
    #artigos-p {
        display: none;
    }
  

}
#artigos-c article .titulos h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#artigos-c article .titulos h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

 




/*---------------------------------------------LISTAS------------------------------------*/



.itensdomenu/*(links)*/{
    margin: 0px;
     justify-content: left;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 18px;
    align-items: center;
    letter-spacing: 3px;
    text-align: left;
    width: 100%;
    
    
    
  
    
 }

 .itensdomenu:hover{
    letter-spacing: 4px;
    
    
}
 .link{
     
   width: unset;
     font-size: 18px;
     list-style-type: circle;
     letter-spacing: 1px;
     margin: 0px;
     text-decoration: underline;
     text-indent: 1em;
 }
 .link:hover{
     font-weight: normal;
     


 }

#lista0/*,#lista1,#lista1-2,#lista2*/{
    display: flex;
    flex-direction: column;
    width: max-content;
    
    position: absolute;
    padding: 30px;
    border-radius: 20px;
   
   
    border-top: 40px solid rgba(0, 0, 0, 0.774) ;
    margin: 10px;
    
   transition: 500ms;
 z-index: 1;
    
    
  
    background-image: linear-gradient(to top,rgb(138, 138, 138),rgba(255, 255, 255, 0.993));


 
}
@media (max-width:500px){
    #lista0{
        max-width: 80%;
        min-width: 10px;
        margin: 0;
    }
}



#item1,#item2,#item3{
    transition: 500ms ease-in-out;
   
    text-transform: uppercase;
}

#lista1,#lista1-2,#lista1-3{
    color: aliceblue;
    display: none;
    padding-left: 20px;
    transition: 400ms ease-in-out;
    flex-direction: column;
  
}

#lista2-1,#lista2-2,#lista2-3{
    flex-direction: column;
    display: none;
    
 
}





.logodoartigo{
    display: inline-block;
    background-image: url(imagens/WhatsApp.svg.png);
    /*position: absolute;*/
    top: 0;
    right: 0;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
  height: 55px;
  width: 55px;
  filter: grayscale(60%);
}

.artigos/*Todos os artigos completos,contando com o bloco "ajuda"*/{
    
    position: relative;
    border-radius: 20px;
    padding: 2em;
    max-width: 750px;
    box-sizing: border-box;
    margin: 0em auto 24px auto;
    
    background-image:linear-gradient(to bottom, rgb(255 255 255) 1%,rgb(236, 236, 236));
   color: #000000eb;
    line-height: 1.5em;
    
    
}
#indice{
    margin-bottom: 1em;
}

#indice ul{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    flex-wrap: wrap;
    
     
     
}


#indice ul{
    list-style-type: none;
    margin:auto;
    margin-bottom: 2em;
   


}
#indice li{
    margin: 0px;
    list-style-type: none;
}
#indice li::after{
    content: "-";
    margin: 10px;
    
}
#indice li:last-of-type::after{
    content: "";
}

.artigos h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: black;
    line-height: 1em;
    
}

.artigos h2{
    margin: 1em 0px 1em 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      letter-spacing: 3px;
      font-size: 3em;
      color: #120d13;
}


.artigos h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    letter-spacing: 3px;
    font-size: 1em;
    color: #161616;
    margin-top: 20px;
}
.artigos p{
    text-align: start;
    word-spacing: 0.1em;
    font-size: 19px;
    margin: 0em;
    letter-spacing: 1px;
   
    
    margin:0em 0em 0em 0em;
    word-wrap: break-word;
}
.artigos a{
    text-shadow: 1px 1px 2px rgb(102, 102, 102);
    color: rgb(0, 0, 0);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.artigos a:hover{
    text-decoration: underline;
   
}
h1.titulo{
    font-size: 3em;
    display: block;
}
h1.titulo span/*icone ao lado do título*/{
    filter: grayscale(100%) drop-shadow(0px 0px 2px rgba(0, 0, 0, 1)) ;
    padding: 15px;
    display: inline-block; 
}
@media (max-width:450px){
    h1.titulo span{
        display: none;
    }
    h1.titulo{
        font-size: 2em;
        margin-top: 5px;
      
        
    }

}

/*-------------------------------------SUMARIO(Para os artigos)----------------------------*/
div.sumario{
   
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    
}
div.sumario .paginadosumario{
    
  cursor: unset;
    max-width: 80px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0;
   
}
div.sumario li::after{
    content: ">>";
    margin: 10px;
    
}
div.sumario li:last-of-type::after{
    content: "";
}



.artigosrelacionados {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 20px;
    
}


.artigos ol{
    
    margin: 0em 0em 3em 4em;
}
.artigos ul{
    
    margin: 0em 0em 5em 4em;
}
.artigos ol li{
    font-size: 18px;
    list-style-type: decimal;
    margin: 1.5em 0em 0em 0em;
    letter-spacing: 1.5px;
    font-family: "Roboto Slab" Arial, Helvetica, sans-serif;
}

.artigos ul li{
    font-size: 18px;
    list-style-type: disc;
    margin: 1em 0em 0em 0em;
    letter-spacing: 1.5px;
    font-family: "Roboto Slab" Arial, Helvetica, sans-serif;
}




.artigos li img{
    height: 18px;
    filter: grayscale(90%) contrast(200%) drop-shadow(0px 0px 2px black);
    
}

.artigos span{
    font-family: monospace;
    
}

h1:nth-of-type(1){
    justify-content: center;
}

ol.ajuda {
    margin-bottom: 0px;
}
ol.ajuda li{
    margin: 10px;
}

hr{
    margin-top: 0;
    margin-bottom: 1em;
    color: black;
}

.em {
    display: inline-block;
    font-size: 17px;
    font-family: arial "Roboto Slab";
    letter-spacing: 1px;
    color: #3a4b49;
    text-align: end;
    /*margin: 0.5em 0px 0em 0px;
    padding: 5px;
    border-radius: 20px;
    text-align: right;
    letter-spacing: 3px;
    font-style: normal;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px 2px #a0a0a0;*/
}
.em::before{
    content: "*";
}
.artigos:nth-of-type(2){
    padding: 10px;
    padding-left: 32px;
}
.artigos:nth-of-type(2) h2{
    margin: 24px 0px;
}
.artigos:nth-of-type(2) ol{
    margin: 0em 0em 24px 4em;
}


@media(max-width:758px){
    
    .artigos{
        margin-right:  5px;
        margin-left: 5px;
        padding: 8px;
    }
    #indice ul{
       flex-direction: column;
       align-items: center;
        margin: 1em 0em 1em 0em;
    }
    #indice ul li::after{
        content: "";
        
    }
    .artigos h2{
        margin: 15px 0px 0px 0px;
        letter-spacing: 3px;
        font-size: 2.2em;
       
    }
    .artigos h1{
        
        letter-spacing: 3px;
        font-size: 1.5em;

        
        
        
    }
    .artigos h4{
        letter-spacing: 3px;
        font-size: 1em;
        color: #161616;
        margin: 25px 0px 0px 0px;
    }
    .artigos p{
        font-size: 1em;
        
    }
    .artigos ul,.artigos ol{
        margin-left: 2em;
        margin-right: 0;
    }
    #indice li{
        margin: 0;
    }
    
  
    .link:hover{
       
        text-decoration: none;
   
   
    }
    .link{
        text-decoration: underline;
    }
    .link:active{
        font-weight: bold;
        text-decoration: underline;
    }
    .sumario li{
        margin-bottom: 5px;
    }
}