
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
                                            /*Fundamentais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --degrade2:rgba(255, 0, 0, 0.85);

    --degrade4:rgba(255, 0, 255, 0.781);
    --degrade1:rgba(0, 255, 255, 0.95);
    --degrade3:rgba(0, 255, 85, 0.85);

    

    
}

body{
 

  position: relative;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: flex;
   justify-content: center; 
   background-color: rgb(218, 218, 218);
   background-image: linear-gradient(to right,#2c2c2c,silver,#2c2c2c);
   
}

a{
    
    text-decoration: none;
    padding: 0.4em;

    color:rgb(0, 0, 0);
  
   
    

}
a:hover{
    text-decoration: underline;
    transition: 200ms;
}

li{
    list-style-type: none;
}

#corpo{
    border-radius:  3em 3em 0em 0em;
   position: relative;
   width: 100%;
   max-width: 1000px;
}

footer{
    background-image: linear-gradient(to top,rgb(34, 34, 34), white);
    width: 100%;
    box-shadow: 0px 0px 15px 01.5px rgba(0, 0, 0, 0.336);
    border-radius: 1em 1em 0em 0em;
    
    height: 100px;
  
    bottom: 0;
   
}   

/*------------------------------------------------CABEÇALHO----------------------------------------------*/


/*conteiner que hospeda o container que hospeda os itens do cabeçalho*/ 
.containerdocabeçalho1{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 1em;
    background-color: transparent;
}

/*container que hospeda os itens do cabeçalho*/ 
.containerdocabeçalho2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,rgb(34, 34, 34), white);
    box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.774);
    border-radius:  0em 0em 1em 1em;
   
}

/*logo FERA NA WEB, item 1 do cabeçalho*/
.logo{
    text-transform: none;
    display: inline;
    border-radius: 30px;
    font-size: 1.5em;
  align-items: center;
   margin: 10px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: flex;
   color: rgb(8, 8, 8);
}
.logo::after{
    content: 'Web Manual';
    color: rgb(8, 8, 8);
}
.logo:hover{
    text-decoration: underline;
    color: rgb(10, 10, 10);
   
}

/*Imagem da logo (planeta)*/
.logo .img1{
    margin: 10px;
    position: relative;
    right: 0px;
    filter: grayscale(100%) contrast(130%);
}

/*menu hamburguer, item 2 do cabeçalho*/
#menu-mobile{
    align-self: center;
    cursor: pointer;
    justify-self: right;
    border-radius: 10px;
    margin: 1em;
    height: 10px;
    display: flex;
    align-items: center;
 
    padding: 1em;
    
}
#menu-mobile section div{
    width: 1.5em;
    height: 4px;
    background-color: rgb(19, 19, 19);
    margin: 3px;
    border-radius:100px;
    box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.466);
    transition: 400ms;
}
#menu-mobile:hover section div{
    box-shadow:  0px 0px 3px 0px rgb(0, 0, 0);
    transition: 400ms;
}




                                /*ARTIGOS*/

.artigosrelacionados{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}


/*conteiner que hospeda o conteiner que hospeda os articles principais*/
.cont-artigos1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/*container que hospeda os articles PRINCIPAIS*/
#artigos-p{
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:  minmax(375px, auto);
    padding: 1.5em;
    
    
}

/*Artigos principais*/
#artigos-p article{
    margin: 0.4em;
   border-radius: 05px;
   background-color: rgb(253, 253, 253);
   box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.404);
   background-image: linear-gradient(to top, rgb(0, 0, 0) , transparent 50%),url(1fab805dc3dd2aab386b855e4ef9748c.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   transition: 300ms;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 1.5em;
   filter: grayscale(50%);
   
 
}
#artigos-p article:hover{
    
  text-decoration: underline;
  color: white;
  
}
#artigos-p article h1{
    color: white;
    width: 100%;
    
    
}

/*Container que hospeda os artigos comuns*/
#artigos-c{
    width:80%;
    max-width: 750px;
    background-color: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    
    
}
/*artigos comuns*/
#artigos-c article{
    justify-self: center;
    background-color: rgb(235, 235, 235);
    width: 100%;
    
    margin: auto;
    margin-bottom: 1em;
    box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.404);
    min-height: 250px;
    border-radius: 5.5px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;  
    filter: grayscale(50%);
}
/*imagens dos artigos comuns*/
#artigos-c article .img{
    height: 100%;
    width: 45%;
    height: 100%;
    background-image: url(1fab805dc3dd2aab386b855e4ef9748c.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    border-radius: 5.5px;

}
/*títulos dos artigos comuns*/
#artigos-c article .titulos{
    
    padding: 20px;
display: flex;
    align-content: center;
    
    width: 50%;
    height: 80%;
    flex-wrap: wrap;
    
}
@media (max-width:830px){
    /*artigos comuns agora com altura mínima de 240px*/
    #artigos-c article{
        
        
        flex-direction: column;
        
        min-height: 470px;
        
    }
    /*configuração das imagens dos arquivos comuns*/
    #artigos-c article .img{
        width: 100%;
        height: 65%;
    }
/*configuração dos títulos dos arquivos comuns*/
    #artigos-c article .titulos{
       padding: 10px;
        width:90%;
        height:35%;
        margin-bottom:1em;
        
    }
    /*anuncios na esquerda e direita agora ficam escondidos*/
    .anunciosl,.anunciosr{
        display: none;
    }
    #artigos-p {
        display: none;
    }
  

}
#artigos-c article .titulos h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#artigos-c article .titulos h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

 





/*---------------------------------------------LISTAS------------------------------------*/


.contlist{
    
    
    position: absolute;
    left: 0;
    z-index: 1;

}
#list{
    overflow: hidden;
    
  
  
 
   
}

.itensdomenu/*(links)*/{
    margin: 3px;
     justify-content: left;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 18px;
    align-items: center;
 
  
    
 }
 

#lista0/*,#lista1,#lista1-2,#lista2*/{
    display: flex;
    flex-direction: column;
    
    
    
    padding: 20px;
    border-radius: 20px;
   
    width: 250px;
    border-top: 40px solid rgba(49, 49, 49, 0.781);
    
  
    margin: 10px;
    transform: translateY(-150%);
    
  
    background-image: linear-gradient(to top,rgb(184, 184, 184),rgb(221, 221, 221));
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.836);
  transition: 1500ms;
  text-indent: 0em;
}
#lista0 li:hover{
    text-decoration: underline;
}
#lista0 li:active{
    color: rgb(63, 63, 63);
}

#item1,#item2,#item3{
    transition: 500ms ease-in-out;
   
    text-transform: uppercase;
}
@keyframes links{
    0%,100%{
        opacity: 72%;
    }
    50%{
        opacity: 100%;
    }
}
#lista1,#lista1-2,#lista1-3{
    color: aliceblue;
    display: none;
    padding-left: 1.5em;
    transition: 400ms ease-in-out;
  
}

#lista2-1,#lista2-2,#lista2-3{
    flex-direction: column;
    display: none;
    padding-left: 3em;
}







.artigos{
    
    border-radius: 1em;
    padding: 2.5em;
    max-width: 750px;
    
    margin: 1em auto 24px auto;
    
    background-image: linear-gradient(to top, rgb(240, 240, 240) 5%,rgb(255, 255, 255));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5em;
    
}
.artigos h1{
    font-size: 2.5em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom:10px;
    
    
}

.artigos h2{
    text-align: center;
    font-size: 1.5em;
}
.artigos p{
    text-align: start;
    word-spacing: 0.1em;
    font-size: 19px;
    margin: 1em 0em;
    letter-spacing: 1px;

    
}
#creditos{
    display: flex;
    justify-content: end;
    font-size: 20px;
    align-items: center;
}
#fotoautor{
    margin: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-image: url(1fab805dc3dd2aab386b855e4ef9748c.jpg);
    background-size: contain;
    filter: grayscale(50%);
}
#nomeautor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nomeautor h1{
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#nomeautor h2{
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
@media(max-width:830px){
    .artigos{
        margin: 1em 15px 0px 15px;
    }
    .artigos h1{
        font-size: 1.8em;
    }
    .artigos h2{
        font-size: 1em;
    }
    .artigos p{
        font-size: 18px;
    }
    #nomeautor h1{
        all: unset;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    #nomeautor h2{
        all: unset;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
}